@font-face {
    font-family: "Thunder Semi-Bold";
    src: url("fonts/Thunder-SemiBoldLC.ttf") format("truetype");

}

@font-face {
    font-family: "Poppins";
    src: url("fonts/FontsFree-Net-Poppins-Regular.ttf") format("truetype");

}

@import url('https://fonts.cdnfonts.com/css/poppins');

@font-face {
    font-family: "Thunder Bold";
    src: url("fonts/Thunder-BoldLC.ttf") format("truetype");

}


@font-face {
    font-family: "Thunder Medium";
    src: url("fonts/Thunder-MediumLC.ttf") format("truetype");

}

/* Fonts  */
.product-btn a h1 {
    font-family: "Thunder Bold";
    font-size: 1.5rem;
}

.modal-content h2 {
    font-family: "Thunder Medium";
    font-size: 1.5rem;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #0b071a;
}

* {
    scroll-behavior: smooth;
}

video {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: auto;
    width: 100%;
}


section {
    position: relative;
    height: auto;
}

.wp {
    font-size: 92px !important;
}


.section-content {
    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
}

.section-title h1 {
    font-family: 'Thunder Bold';
    font-weight: 700;
    font-size: 4rem;
}

.container {
    position: relative;
    background-color: rgb(11 7 26);
    ;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Thunder Semi-Bold';
    font-style: normal;
    line-height: 130%;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    line-height: 1.5rem;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.navbar {
    max-width: 1375px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    top: 0;

}

.navbar-scrolled {
    background-color: rgba(10, 7, 26, 0.85);

}


.navbar-logo {
    z-index: 9999;
    cursor: pointer;
    margin-left: 4%;
}

.navbar-logo img {
    width: 92px;
}


.navbar-links {
    width: 48%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.navbar-links a {
    cursor: pointer;
    font-family: 'Thunder Semi-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.navbar-links.active a {
    font-size: 80px;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.toggle-line {
    width: 48px;
    height: 4px;
    background-color: white;
    margin-bottom: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .navbar-logo{
        margin-left: 0;
    }
    .navbar-links {
        display: none;
    }

    .navbar-toggle {

        margin-right: 3%;

        z-index: 9999;
        display: block;
    }


    .navbar-toggle.active .toggle-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar-toggle.active .toggle-line:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .toggle-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .navbar-toggle.active+.navbar-links {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0a0719;
        padding: 0;
    }
}


/* hero-section */

.hero-section {
    height: 832px;
    display: flex;
    flex-direction: column;
    background-image: url(./media/landing.png);
    background-repeat: no-repeat;
    border-radius: 0px 0px 32px 32px;
}

.hero-content {
    justify-content: center;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.hero-section::before {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #181818;
}

.hero-header {
    padding-top: 5%;
    position: relative;
    margin: 0 auto;
    width: 48%;
    text-align: center;
}

.hero-header h1 {
    font-family: 'Thunder Bold';
    font-size: 7.5rem;
}

.hero-header p {
    font-family: 'Thunder Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    color: #FFFFFF;
}

a.journy {
    font-size: 1.5rem;
    font-family: 'Thunder Bold';
    max-width: 175%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 4%;
    color: white;
    font-weight: 700;
    line-height: 22px;
    padding: 18px 40px;
    background-color: #FB2576;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

a.journy:hover {

    background-color: #931545;
}

.arrow-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.arrow {
    display: block;
    width: 24px;
    height: 24px;
    border: solid white;
    border-width: 0 6px 6px 0;
    transform: rotate(45deg);
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    50% {
        transform: translateY(10px) rotate(45deg);
    }

    100% {
        transform: translateY(0) rotate(45deg);
    }
}

.socials {
    margin-right: 20px;
    bottom: 20px;
    opacity: 0.6;
    position: relative;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    align-self: flex-end;
}


.socials a {
    cursor: pointer;
}

.video-container {
    margin-top: 3%;
    background-size: cover;
    height: 720px;
    background-image: url("./media/video.png");
}

/* stage btns */

a.stage {
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    width: 9%;
    font-family: "Thunder Bold";
    font-size: 1.5rem;
    background-color: #FB2576;
    border-radius: 30px;
    color: white;
    /* display: block; */
    padding: 2%;
    height: 20px;
}

/* MM */

.mm-section .section-content {
    display: flex;
    flex-direction: row;
}

.text {
    width: 55%;
}

.txt1,
.txt2 {
    text-align: left;
}

.txt1 h2,
.txt2 h2 {
    font-weight: 500;
    font-family: "Thunder Medium";
    font-size: 1.5rem;
}

.photo {
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;

    width: 100%;

    margin-left: 3%;
    background-color: #220a23;
    max-width: 524px;
}

/* WL & Activities */

.card-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #222030;
    width: 100%;
    height: 490px;
}

.card-nav {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-link {
    justify-content: center;
    width: 33.3%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.nav-a {
    color: rgba(255, 255, 255, 0.582);
    font-family: "Thunder Semi-Bold";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;

    width: auto;
    cursor: pointer;
}

.nav-a.active {
    color: white;
}

.card-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    transition: border-bottom 0.3s ease;
}

.card-link.active {
    border-bottom: 3px solid white;
    animation: slideRight 0.3s ease;
}

@keyframes slideRight {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.card-content {
    height: 100%;
    width: 100%;
    display: none;
    transition: 1s all ease-in-out
}

.card-content.active {
    display: flex;
}

.card-content.slide-in {
    transform: translateX(-100%);
}

.card-content.slide-out {
    transform: translateX(100%);
}

.content-left,
.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.content-left-text {
    text-align: left;
    width: 88%;
}

.content-left-text h1 {
    font-size: 3rem;
}

.content-left-text p {
    text-transform: none;
    font-size: 1rem;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.content-right-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    border-radius: 30px;
    width: 90%;
}

.content-right-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    background: #FB2576;
    border-radius: inherit;
}

/* Roadmap */
.roadmap {
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    height: 437px;
    background-color: #220a22;
}

.roadmap-content {
    width: 49%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
}


.roadmap-content p {
    font-size: 1rem;
}

/* Colab Section */
.colab-section {
    height: auto;
}

.section-content {
    text-align: center;
}

.section-title {
    margin-top: 2%;
    text-align: left;
    margin-bottom: 20px;
}

.colabs {
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colabs a {
    margin: 10px;
}

.btn-wrapper {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

/* Footer */
.line {
    width: 90%;
    height: 5px;
    margin: 3% auto;
    background-color: #333;
}


.footer-content {
    padding: 2%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.f-right {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.f-logo {
    width: 25%;
}

.f-logo img {
    width: 92px;
}

.f-right a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Thunder Semi-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 130%;
}

.f-socials {
    opacity: 0.8;
    position: relative;
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

/* Products */

/* products section */

.mint-btn {
    align-items: center;
    border-radius: 30px;
    max-width: 70px;
    width: 100%;
    background: #821647;
    display: flex;
    justify-content: space-between;
    padding: 17px 32px 17px 40px;
}

.products {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wild-products {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 30px;
    height: 378px;
    width: 23%;
}

.product-gif {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 25%;
    background-color: #FB2576;
}

.product-btn a {
    text-decoration: none;
}

.product-btn h1 {
    font-size: 1rem;
}

.pr-tree {
    height: auto;
    background-image: url(media/xe.png);
}

/* Team */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.team-txt {
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
}

.team-txt h1 {
    font-size: 1.5rem;
}

.team-txt p {
    text-transform: uppercase;
    font-family: 'Thunder Semi-Bold';
    color: #75737e;
    font-size: 1rem;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .hero-header h1 {
        line-height: inherit;
    }

    a.journy {
        margin-top: 0%;
    }

    .navbar-logo img {
        width: 76px;
    }

    .hero-header h1 {
        font-size: 100px;
    }

    .hero-header p {
        font-size: 36px;
    }

    .section-title h1 {
        font-size: 3rem;
    }

    .nav-a {
        font-size: 1rem;
    }

    .nav-a {
        font-size: 1rem;
    }

   
    .socials {
        justify-content: space-between;
        width: 35%;
        margin-right: 4.5%;
    }

    .f-right {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* RESPONSIVES */

/* colab */
@media screen and (max-width: 768px) {
    a.stage {
        font-size: 1.2rem;
    }

    .footer-content {
        height: 180px;
    }

    .hero-header {
        margin: 0 auto;
        width: 80%;
    }

    .colabs a {
        max-width: 20%;
        margin: 0;
    }

    .colabs img {
        width: 68%;
    }

    .colabs {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .content-left-text h1 {
        font-size: 1.5rem;
    }

    .content-left-text p {
        font-size: 14px;
    }

    .f-right a {
        font-size: 1rem;
    }

    .txt1 h1,
    .tx2 h1 {
        font-size: 20px;
    }

    .txt1 p,
    .tx2 p {
        font-size: 14px;
    }

    .navbar-logo a img {
        width: 60px;
        height: 60px;
    }

    .socials {
        bottom: 80px;
        width: 60%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-evenly;
    }

    .socials a img {

        width: 24px;
        height: 24px;

    }

    .img1 {
        height: 14px;
    }

    .img4 {
        height: 17px;
    }

    .hero-section {
        background-size: cover;
        height: 521px;
        background-image: url('./media/mobile-bg.png');
    }

    .hero-header {
        width: 58%;
    }

    .hero-header h1 {
        font-size: 3rem;
    }

    .hero-header p {
        font-size: 1rem;
    }

    a.journy {
        padding: 10px 25px;
        font-size: 1rem;
    }

    a.stage {
        font-size: 0.8rem;
    }

    .f-logo {
        margin-bottom: 15%;
    }

    .f-right {
        margin-bottom: 15%;
    }

    .card-container {
        height: 600px;
    }

    .section-title h1 {
        font-size: 28px;
    }

    .content-left-text {
        text-align: center;
        width: 100%;
    }

    .colabs {
        flex-direction: row;
    }

    .colabs a {
        max-width: 30%;
    }

    .card-content {
        flex-direction: column;
    }

    .content-left {
        padding-top: 4%;
        width: 100%;
        height: 30%;
    }

    .content-right {
        width: 100%;

    }


    .f-right {
        width: 45%;
    }

    .f-socials {
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        width: 90%;

    }

    .navbar {

        padding: 30px 20px 30px 20px;
    }

    .wild-products {
        flex-wrap: wrap;
        height: 500px;
    }

    .product {
        width: 45%;
        height: 160px;
    }

    .section-content {
        margin-top: 8dvh;
    }

    .navbar-links.active a {
        font-size: 40px;
    }


}

/* Roadmap */

@media screen and (max-width: 768px) {
    .roadmap-content {
        width: 90%;
    }

    .roadmap-content p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 480px) {
    .roadmap {
        height: auto;
    }

    .roadmap-content {
        width: 90%;
        padding: 20px;
    }
}

/* Minerals */

@media screen and (max-width: 768px) {
    .roadmap-content {
        width: 80%;
    }

    .mm-section .section-content {
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 100%;
    }

    .photo {
        margin-top: 5%;
        max-width: inherit;
        height: 400px;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .roadmap-content {
        width: 93%;
    }

}

@media screen and (max-width: 768px) {
    .product {
        height: 206px;
    }
}

/* Footer */



/* Product Modal */

.modal {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    padding: 40px 48px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: #0a0719;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    max-height: 900px;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.li {
    display: flex;
    flex-direction: column;
}

.product {
    position: relative;
}